.ipynb_checkpoints/
pyjedai/__pycache__/
pyjedai/.ipynb_checkpoints/
examples/.ipynb_checkpoints/
examples/scripts/.ipynb_checkpoints/
tests/__pycache__/
.hypothesis/unicode_data/11.0.0/charmap.json.gz
src/pyjedai/__pycache__/
src/pyjedai.egg-info/*
docs/_build/*
docs/code/_autosummary/*
