gensim>=4.2.0
matplotlib>=3.5.2
matplotlib-inline>=0.1.3
networkx>2.3
nltk>=3.7
numpy>=1.21
pandas>=0.25.3
pandas-profiling>=3.2
pandocfilters>=1.5
PyYAML>=6.0
rdflib>=6.1.1
rdfpandas>=1.1.5
regex>=2022.6.2
scipy>=1.7
seaborn>=0.11
strsim>=0.0.3
strsimpy>=0.2.1
tqdm>=4.64
transformers>=4.21
sentence-transformers>=2.2
faiss-cpu>=1.7
optuna>=3.0
