jupyter-book
matplotlib
numpy
sphinx
# sphinx-inline-tabs
# sphinx_proof
# sphinx_examples
# sphinx-ext-autodoc
# sphinx.ext.napoleon
# sphinx.ext.viewcode
# sphinxcontrib.prettyproof
sphinx-design
# myst-parser
ipython
